/* Genral page */

* {
    box-sizing: border-box;
}

a { 
    text-decoration: none; 
    color: black;
}

body {
    margin: 30px;
    font-family: Khula;
}

/* Header */

.header {
    position: relative;
    font-family: Georgia;
    padding: 30px;
}

.head-cols {
    display: grid;
    grid-template-columns: auto 25%;
}

/* Setting sliders */

.settings-cols {
    display: grid;
    grid-template-columns: 25% auto;
    grid-gap: 2px;
    padding: 2px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Body grid */

.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
}

.column img {
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Article bubbles */

div.articles {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    margin-bottom: 20px;
}

div.articles:hover {
    border: 1px solid #777;
    opacity: 0.8;
}

div.articles img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    opacity: 0.85;
}

div.desc {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-family: "Khula";
    word-wrap: break-word;
    word-break: keep-all;
}
